.resource-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    gap:10px;
}

.resource-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15 px;
    border-radius: 5px;
    background: #141414;
    display: block;
    transition: 0.2s ease;
}

.resource-list li a:hover{
    background: #ff5100;
    color: white;
} 

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #1a1a1a, #222222, #2d2d2d, #282828);
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
  text-align: center;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
