.resource-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    gap:10px;
}

.resource-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15 px;
    border-radius: 5px;
    background: #141414;
    display: block;
    transition: 0.2s ease;
}

.resource-list li a:hover{
    background: #ff5100;
    color: white;
} 

  .home-button {
  position: absolute; 
  top: 15px;
  left: 15px;      
  width: 50px;     
  height: 50px;
  background-color: #d4aa00; 
  color: #FFFFFF;
  font-size: 1.8em;
  border-radius: 50%;   
  font-weight: 700;
  text-align: center;    
  text-decoration: none;   
  line-height: 50px;  
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 1000;            
  display: inline-block;
}
