<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blazern</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
  <header>
</div>
    <ul class="nav-links">
      <li><a href="/features">Study Tools</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>

  <section>

    <div class="OuterWrapper">
      <div class="text-wrapper">
        <div class="title">
          <h2>Blazern</h2>
        </div>
        <div class="section-underline"></div>
        
        <p>A student-made tool to crush procrastination</p>
          <!--Use the same button css stuff as earlier-->
          <!--Don't use nav-->
          <a href="/about" style="display: flex;
          gap: 10px;
          flex-wrap: wrap;
          justify-content: flex-end;"><i class="fas fa-info-circle"></i>About</a>
          
      </div>
      <div class="image-wrapper">
        <img src="{{ url_for('static', filename='undraw_book-writer_ri5u.png') }}">
      </div>
      
    </div>
    
    
  </section>

  <main>
    <div class="text-wrapper">
      <div class="title">
        <h2>Features</h2>
      </div>
      <div class="section-underline"></div>
      
      <div class="features">
        <div class="features-container">
          <div class="feature-box">
            <i class="fas fa-bolt"></i>
            <h3>Fast Performance</h3>
            <p>Lightning-fast load times and smooth performance all around. Allowing you to study without any interruptions.</p>
          </div>
          <div class="feature-box">
            <i class="fas fa-magic"></i>
            <h3>Easy to use</h3>
            <p>Our interface is built with simplicity and neatness in mind, making it accessible for everyone. </p>
          </div>
          <div class="feature-box">
            <i class="fas fa-lock"></i>
            <h3>Secure</h3>
            <p>We secure your data and privacy with strong security protocols and high-level encryption.</p>
          </div>
          <div class="feature-box">
            <i class="fas fa-check-circle"></i>
            <h3>Proven Methods</h3>
            <p>We incorporate techniques and systems backed up by research to help you stay focused and productive.</p>
          </div>

        </div>

      </div>

    </div>

  <section>
    <div class="OuterWrapper">
      <div class="text-wrapper">
          <div class="title">
            <h2>Don't take our word for it</h2>
          </div>
          <div class="section-underline"></div>
          
        

        <div class="user-container">
          <div class="card">
            <img class="photo" src="{{ url_for('static', filename='user.png') }}">
            <h3>D.V.</h3>
            
            <p>"Blazern has definitely improved my study habits."</p>
            <div class="section-underline"></div>
          </div>

          <div class="card">
            <img class="photo" src="{{ url_for('static', filename='user.png') }}">
            <h3>T.K.</h3>
            
            <p>"I have been more productive and organized ever since using Blazern.</p>
            <div class="section-underline"></div>
          </div>
          
          <div class="card">
            <img class="photo" src="{{ url_for('static', filename='user.png') }}">
            <h3>A.L.</h3>
            
            <p>"After using Blazern once, I can't stop coming back!"</p>
            <div class="section-underline"></div>
          </div>

          <div class="card">
            <img class="photo" src="{{ url_for('static', filename='user.png') }}">
            <h3>E.C.</h3>
            
            <p>"Using Blazern everyday has helped me stay consistent and focused every day."</p>
            <div class="section-underline"></div>
          </div>
        </div>
      </div>
    </div>

  </section>
    
</main>



  <footer>
    <div class="footer-content">
      <div class="footer-links">
        <div class="socials">
      <a href="mailto:contact@blazern.com" 
         target="_blank" 
         aria-label="Email us at contact@blazern.com">
        <i class="fas fa-envelope"></i>
      </a>
          <a href="instagram" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="twitter" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="github" target="_blank" aria-label="Github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <p>&copy; 2025 Blazern. All rights reserved.</p>
    </div>
  </footer>


  <script>
  function isInViewport(element) {
    const rect = element.getBoundingClientRect(); // IS IN VIEW
    return (
      rect.top < window.innerHeight &&
      rect.bottom > 0 &&
      rect.left < window.innerWidth &&
      rect.right > 0
    );
  }

  function handleScroll() { // WHEN THE PERSON SCROLLS
    const targets = document.querySelectorAll('.title, .image-wrapper, .text-wrapper');
    targets.forEach(element => {
      if (isInViewport(element)) {
        element.classList.add('slide-in-visible');
      }
    });
  }

  window.addEventListener('scroll', handleScroll);
  window.addEventListener('load', handleScroll);

  const hamburger = document.getElementById('hamburger');
  const navLinks = document.getElementById('nav-links');

    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle('clicked'); // Do the stuff
    });
  </script>
</body>
</html>









