<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blazern</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='featurestyle.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

  <div class="background">
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>
    <span class="square"></span>


  
    <div class="container">
      <a href="{{ url_for('home') }}" class="home-button" aria-label="Home">←</a>
      <div class="feature">
        <a href="{{ url_for('timer')}}"><h3>Pomodoro Timer</h3></a>
      </div>
      <div class="feature">
        <a href="{{ url_for('brainstorm')}}"><h3>Brainstorm</h3></a>
      </div>
      <div class="feature">
        <a href="{{ url_for('quotes')}}"><h3>Quote Generator</h3></a>
      </div>
      <div class="feature">
        <a href="{{ url_for('resources')}}"><h3>Resources</h3></a>
      </div>
    </div>

  

  
</body>
</html>



