<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <style>
            body { font-family: sans-serif; text-align: center; Padding: 100px;}
            #quote { font-family:sans-serif; margin: 20px; }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='quotes.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div class="container">
      <a href="{{ url_for('home') }}" class="home-button" aria-label="Home">←</a>
        <h1>Quote Machine</h1>
        <hr class="cool-line" />
        <div id="intro-text">Ever feel stuck, unmotivated, or start doubting yourself? You're not alone. Tap the button for a quote to inspire and remind you to keep going!</div>
        <div id="quote"> </div>
        <button class="quoteBtn" onclick="generateQuote()">New Quote</button>
<script src="quotescript.js"></script>
    <script src="{{ url_for('static', filename='quotes.js') }}"></script>
</html>
