<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}"> 
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
     <div class="container">
         <h1 class="title">Resources</h1>
         <a href="{{ url_for('home') }}" class="home-button" aria-label="Home">←</a>
         <hr class="cool-line"/>
         <ul class="resource-list">
            <li><a href="https://learningcenter.unc.edu/tips-and-tools/studying-101-study-smarter-not-harder/" target="_blank">How to Study Smarter (Article)</a></li>
            <li><a href="https://www.mindgrasp.ai/" target="_blank">Mindgrasp AI Study Tools (Website)</a></li>
            <li><a href="https://oercommons.org/" target="_blank">OER Educational Materials (Website)</a></li>
            <li><a href="youtube.com/watch?v=TjPFZaMe2yw" target="_blank">How to Effectively Study (Video)</a></li>
            <li><a href="https://www.sparknotes.com/" target="_blank">SparkNotes Online Study Aids (Website)</a></li>
        </ul>
    </div>
</body>
</html>
