<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}"> 
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
     <div class="container">
         <hr class="cool-line" />
         <a href="{{ url_for('home') }}" class="home-button" aria-label="Home">←</a>
         <h1>Resources</h1>
         <hr class="cool-line"/>
         <ul class="resource-list">
            <li><a href="https://www.example1.com" target="_blank">Example Resource 1</a></li>
            <li><a href="https://www.example1.com" target="_blank">Example Resource 1</a></li>
            <li><a href="https://www.example1.com" target="_blank">Example Resource 1</a></li>
        </ul>
    </div>
</body>
</html>
